html {
  background-color: #fff;
}

aside {
  display: none;
}

.dsn-unit,
.dsn-unit-w {
  width: 100%;
  overflow: hidden;
}

figure a {
  overflow: hidden;
}

body {
  background-color: #f6f6f6;
  font-family: 'Pridi', serif;
  color: #555;
  font-weight: 200;
}

.active {
  color: #DE3554;
}

a:focus {
  outline: 3px solid rgb(242, 108, 87);
}

a:hover {
  outline: none;
}

.skip-links {
  margin-bottom: 0;
  position: absolute;
  z-index: 100;
  list-style: none;
}

.skip-links a{
  position: absolute;
  left: -25em;
  margin-bottom: 0;
}

.skip-links a:focus {
  left: 1em;
}

.error-img {
  background-color: #DE3554;
}

.error-msg span {
  margin-bottom: 1.5rem;
  color: #DE3554;
}
.error-msg {
  background-color: #fff;
}

.home-btn {
  background-color: #DE3554;
  color: #fff;
  text-align: center;
  display: inline;
  font-weight: 300;
  padding: .25rem 1.5rem;
}

.home-btn:hover,
.home-btn:focus {
  background-color: rgba(242, 108, 87, 1);
  transition: all 300ms;
}

a figcaption {
  color: rgba(255, 255, 255, 0);
;
}

a figcaption:hover {
  background-color: rgba(242, 108, 87, 0.7);
  color: rgba(255, 255, 255, 1);
  transition: all 300ms;
}

figure span {
  background-position: -1em 0;
  background-image: linear-gradient(to bottom, rgba(242, 108, 87, 1) 20%, rgba(242, 108, 87, 0.5));
  width: 100%;
  height: 100%;
  opacity: 0;
}

figure span:hover,
figure span:focus {
  transition: all 300ms;
  opacity: 1;
}
figure a:focus {
  color: #DE3554;
  opacity: 1;
}

a span {
  line-height: 100%;
  font-weight: 300;
  color: #fff;
  top: 0;
}

a {
  text-decoration: none;
}

.profile-img {
  max-width: 50%;
}


.about {
  padding-top: 5em;
  padding-bottom: 5em;
  color: #555;
}

.about h1 {
  color: rgba(242, 108, 87, 1);
  font-weight: 300;
}

.about span {
  color: rgba(242, 108, 87, 1);
  font-weight: 300;
}

.top-link {
  color: #555;
  border-style: solid;
  border-width: 2px;
  padding: .5rem;
  border-color: #555;
}

strong {
  font-weight: 300;
}

.top-link:hover,
.top-link:focus {
  color: rgba(242, 108, 87, 1);
  border-color: rgba(242, 108, 87, 1);
  background-color: #fff;
  transition: all 500ms;
}

footer div {
  background-color: #fff;

}

header {
  align-items: center;
  overflow-x: hidden;
  margin: 0;
  background-color: #fff;
  position: static;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  text-align: center;
  padding-bottom: 1em;
}

header a {
  color: #555;
}

header a:hover {
  color: rgba(242, 108, 87, 1);
  transition: all 300ms;
}

.logo {
  width: 60%;
  margin: auto;
  display: block;
  padding-bottom: 0.5em;
  padding-top: 1.5em;
}

.social-link {
  text-align: left;
}

.intro {
  padding-top: 30%;
  padding-bottom: 30%;
}

.text-card p {
  padding-left: 0;
  padding-right: 0;
}

.welcome-btn {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 24em;
  display: block;
}

.welcome-btn div {
  background-color: #DE3554;
  padding: 1em;
}

.welcome-btn span {
  line-height: 100%;
  font-weight: 300;
}

.welcome-btn div:hover {
  background-color: rgb(242, 108, 87);
  transition: all 300ms;
}

.rule {
  border-top: solid 2px;
  border-color: rgba(242, 108, 87, 1);
}

h1 {
  color: rgba(242, 108, 87, 1);
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
}

.case-study {
  color: #555;
  background-color: #f6f6f6;
  background-image: none;
  padding-top: 0;
}

.banner-img {
background-image: url("../images/preview-aries2.jpg");
background-size: 100%;
background-position: center;
padding-top: 25%;
background-repeat: no-repeat;
overflow: hidden;
}


.embed-2by1 {
  padding-top: 50%;
}

@media only screen and (min-width: 25em) {

  main {
    background-image: url("../images/lines-v1.svg");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    padding-top: 4em;
  }

  .logo {
    margin-left: 1.66em;
    margin-right: 0;
    max-width: 6rem;
  }

  .unit {
    padding: 0;
  }

  nav ul {
    text-align: right;
    padding-bottom: 0;
  }

  nav li {
    padding-right: 1em;
  }

  .logo {
    padding-top: 0.5em;
  }

  header {
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  }

  .top-link {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  .social-link {
    text-align: right;
  }

  .description {
    padding-right: 1em;
  }

  .about {
    padding-top: 10em;
    padding-bottom: 10em;
  }

  .error-msg span {
    margin-bottom: 0;
  }

  .dsn-unit {
    width: 50%;
  }


}

@media only screen and (min-width: 60em) {

  .intro {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .dsn-unit {
    width: 25%;
  }

  .dsn-unit-w {
    width: 50%;
  }

    .text-card > h1 + p {
      padding-right: .65rem;
    }

    .text-card > p + p {
      padding-left: .65rem;
    }

}
