html {
  background-color: #fff;
}

aside {
  display: none;
}

body {
  background-color: #f6f6f6;
  font-family: 'Pridi', serif;
  color: #555;
  font-weight: 200;
}

a:focus {
  outline: 3px solid rgb(242, 108, 87);
}

.skip-links a {
  position: absolute;
  top: -3em;
  display: none;
}

.skip-links a:focus {
  top: 0;
  display: block;
}

.error-img {
  background-color: #DE3554;
}

.error-msg span {
  margin-bottom: 1.5rem;
  color: #DE3554;
}
.error-msg {
  background-color: #fff;
}

.home-btn {
  background-color: #DE3554;
  color: #fff;
  text-align: center;
  display: inline;
  font-weight: 300;
  padding: .25rem 1.5rem;
}

.home-btn:hover {
  background-color: rgba(242, 108, 87, 1);
  transition: all 300ms;
}

figure a {
  background-color: rgba(255, 255, 255, 0.0);
  height: 100%;
  overflow: hidden;
}

figure span {
  background-position: -1em 0;
  background-image: linear-gradient(to bottom, rgba(242, 108, 87, 1) 20%, rgba(242, 108, 87, 0.5));
  width: 100%;
  height: 100%;
  opacity: 0;
}

figure span:hover {
    transition: all 300ms;
    opacity: 1;
}

a span {
  line-height: 100%;
  font-weight: 300;
  color: #fff;
  top: 0;
}

a {
  text-decoration: none;
}

.profile-img {
  max-width: 50%;
}

.grid-img {
  max-width: 10em;
}

.about {
  padding-top: 5em;
  padding-bottom: 5em;
  color: #555;
}

.about h1 {
  color: rgba(242, 108, 87, 1);
  font-weight: 300;
}

.about span {
  color: rgba(242, 108, 87, 1);
  font-weight: 300;
}

.top-link {
  color: #555;
  border-style: solid;
  border-width: 2px;
  padding: .5rem;
  border-color: #555;
}

strong {
  font-weight: 300;
}

.top-link:hover {
  color: rgba(242, 108, 87, 1);
  border-color: rgba(242, 108, 87, 1);
  background-color: #fff;
  transition: all 500ms;
}

footer {
  background-color: #fff;
}

header {
  align-items: center;
  overflow-x: hidden;
  margin: 0;
  background-color: #fff;
}

nav ul {
  text-align: center;
  padding-bottom: 1em;
}

header a {
  color: #555;
}

header a:hover {
  color: rgba(242, 108, 87, 1);
  transition: all 300ms;
}

.logo {
  width: 60%;
  margin: auto;
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;
}

.social-link {
  text-align: left;
}

.intro {
  padding-top: 30%;
  padding-bottom: 30%;
}

.text-card {
  border-top: 2px solid rgb(242, 108, 87);
  border-bottom: 2px solid rgb(242, 108, 87);
}

.text-card p {
  padding-left: 0;
  padding-right: 0;
}

.welcome-btn {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 24em;
  display: block;
}

.welcome-btn div {
  background-color: #DE3554;
  padding: 1em;
}

.welcome-btn span {
  line-height: 100%;
  font-weight: 300;
}

.welcome-btn div:hover {
  background-color: rgb(242, 108, 87);
  transition: all 300ms;
}

.img-grid {
  padding-top: 4em;
}

.rule {
  border-top: solid 2px;
  border-color: rgba(242, 108, 87, 1);
}

.case-study h1 {
  color: rgba(242, 108, 87, 1);
  font-weight: 500;
}

.case-study {
  color: #555;
  background-color: #f6f6f6;
  background-image: none;
}

.embed-2by1 {
  padding-top: 50%;
}

.logo-block {
  display: none;
}


@media only screen and (min-width: 25em) {

  main {
    background-image: url("../images/lines-v1.svg");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
  }

  .logo {
    margin-left: 1.66em;
    margin-right: 0;
  }

  .unit {
    padding: 0;
  }

  nav ul {
    text-align: right;
    padding-bottom: 0;
  }

  nav li {
    padding-right: 1em;
  }

}

@media only screen and (min-width: 38em) {

  .social-link {
    text-align: right;
  }

  .description {
    padding-right: 1em;
  }

  .top-link {
    display: none;
  }

  .text-card p {
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .about {
    padding-top: 10em;
    padding-bottom: 10em;
  }

  .error-msg span {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 60em) {

  .intro {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .logo-block {
    display: block;
  }

}
