<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title> {{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pridi:200,300,500" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{site.url}}/favicon.png">
</head>
<body class="relative">
  <header role="banner" id="top" class="grid grid-middle">
    <div class="unit xs-1 s-1-4 m-1-4 l-1-4">
      <a itemprop="url" href="{{site.baseurl}}/index">
        <img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="personal logo">
      </a>
    </div>
    <nav class="unit xs-1 s-3-4 m-3-4 l-3-4 island-quarter" role="navigation" id="nav">
      <ul class="list-group-inline push-0 peta">
        <li><a class="{{page.navClass1}}" itemprop="url" href="{{site.baseurl}}/chris-hough-designs" aria-label="view list of designs">designs</a></li>
        <li><a class="{{page.navClass2}}" itemprop="url" href="{{site.baseurl}}/about" aria-label="read about the designer">about</a></li>
      </ul>
    </nav>
    </div>
  </header>

{{content}}

  <footer itemscope itemtype="https://schema.org/Person" id="data-author" itemprop="author" role="contentinfo">
    <div class="grid island grid-middle">
      <small itemprop="name" class="unit xs-1-2 m-1-2"> © 2017 Chris Hough.<br><strong itemprop="email" href="mailto:contact@chris-hough,ca">contact@chris-hough.ca</strong></small>
      <div class="top-btn unit xs-1-2 m-1-4 island-1-4 text-right">
        <a href="#top" class="top-link">page top</a>
      </div>
    </div>
  </footer>
</body>
</html>
