<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title> {{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pridi:200,300,500" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
  <header id="top" class="grid grid-middle">
    <div class="halftone absolute hidden">
      <img class="relative" src="{{site.baseurl}}/images/dot-fade.svg" alt="">
    </div>
    <div class="unit xs-1 s-1-4 m-1-4 l-1-4">
      <a href="{{site.baseurl}}/index">
        <img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="logo">
      </a>
    </div>
    <nav class="unit xs-1 s-3-4 m-3-4 l-3-4 island-quarter">
      <ul class="list-group-inline push-0 peta">
        <li><a href="{{site.baseurl}}/chris-hough-designs">designs</a></li>
        <li><a href="{{site.baseurl}}/about">about</a></li>
      </ul>
    </nav>
    </div>
  </header>

{{content}}

  <footer>
    <div class="grid island grid-middle">
      <small class="unit xs-1-2 m-1-2"> © 2017 Chris Hough.<br><strong>contact@chris-hough.ca</strong></small>
      <div class="top-btn unit xs-1-2 m-1-4 island-1-4 text-right">
        <a href="#top" class="top-link">page top</a>
      </div>
    </div>
  </footer>
</body>
</html>
